<template>
  <div class="columns">
    <div class="column" v-for="product in products" :key="product.id">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <b-image
              :src="product.img"
              :alt="product.title"
          ></b-image>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ product.title }}</p>
              <p class="subtitle is-6">{{ product.subtitle }}</p>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">İncele</a>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductList',
  props: ['products'],
}
</script>