<template>
  <div>
    <b-navbar type="is-black">
        <template #brand>
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"
                    alt="Lightweight UI components for Vue.js based on Bulma"
                >
            </b-navbar-item>
        </template>
        <template #start>
            <b-navbar-item href="#">
                Anasayfa
            </b-navbar-item>
            <b-navbar-item href="#">
                Gözat
            </b-navbar-item>
        </template>

        <template #end>
            <b-navbar-item tag="div">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Kayıt Ol</strong>
                    </a>
                    <a class="button is-light">
                        Giriş Yap
                    </a>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
    
    <section>
        <b-carousel
            :arrow="arrow"
            :repeat="arrowBoth"
            :arrow-hover="arrowHover"
            :icon-pack="iconPack"
            :icon-prev="iconPrev"
            :icon-next="iconNext"
            :icon-size="iconSize">
            <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
                <section :class="`hero is-medium is-${carousel.color}`">
                    <div class="hero-body has-text-centered">
                        <h1 class="title">{{carousel.title}}</h1>
                    </div>
                </section>
            </b-carousel-item>
        </b-carousel>
    </section>
    
    <section class="browse-banner hero">
      <div class="hero-body">
        <div class="columns">
          <div class="column">
            <img src="https://www.nxtbookmedia.com/wp-content/uploads/2014/06/netflix.png" width="300">
          </div>
          <div class="column">
            <img src="https://i.ytimg.com/vi/jYo6yAQ8mvU/maxresdefault.jpg" width="300">
          </div>
          <div class="column">
            <img src="https://www.nxtbookmedia.com/wp-content/uploads/2014/06/netflix.png" width="300">
          </div>
          <div class="column">
            <img src="https://i.ytimg.com/vi/jYo6yAQ8mvU/maxresdefault.jpg" width="300">
          </div>
          <div class="column">
            <img src="https://www.nxtbookmedia.com/wp-content/uploads/2014/06/netflix.png" width="300">
          </div>
          <div class="column">
            <img src="https://i.ytimg.com/vi/jYo6yAQ8mvU/maxresdefault.jpg" width="300">
          </div>
        </div>
      </div>
    </section>

    <section class="main-content columns">
      <div class="container column is-10">
        <nuxt />
      </div>
    </section>
    
    <footer class="footer" style="padding: 0px;">
      <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
          <div class="container">
            <p>
              © Tüm hakları saklıdır
            </p>
          </div>
        </div>
      </section>
    </footer>
  </div>
</template>

<style scoped>
.browse-banner img {box-shadow: 8px 8px #292f31; width: 300px; height: 125px;}
</style>

<script>
export default {
  data () {
    return {
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' }
        }
      ],
      
      arrow: true,
      arrowBoth: false,
      arrowHover: false,
      iconPack: 'mdi',
      iconPrev: 'arrow-left',
      iconNext: 'arrow-right',
      iconSize: '',
      carousels: [
          { title: 'Slide 1', color: 'dark' },
          { title: 'Slide 2', color: 'success' },
          { title: 'Slide 3', color: 'warning' },
          { title: 'Slide 4', color: 'danger' }
      ]
    }
  }
}
</script>
