<template>
  <section class="section">
    <ProductList :products="products" />
  </section>
</template>

<script>
export default {
  name: 'HomePage',
  
  data() {
    return {
      products: [],
    }
  },
  
  async asyncData(ctx) {
    return {
      products: await ctx.app.$productRepository.index()
    }
  },
}
</script>
